################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/**/bin/*
*/**/obj/*
*.bat
*.bak
*.bck
*.bkp
*.cache
*.config
*.cfg.xml
*.dat
*.dll.config
*.doc
*.exe
*.ide
*.ide-shm
*.ide-wal
*.log
*.lock
*.pdb
*.pdf
*.resources
*.ret
*.sqlite
*.svcinfo
*.tmp
*.txt
*.xml
*.xsd
*.suo
*.CopyComplete
*.pubxml*
!CobrancaWebApplication/packages.config
!/packages/Selenium.Chrome.WebDriver.74.0.0/driver/chromedriver.exe
!/ACRCWebApplication/7z/*.*